# rimuove il tracciamento della cartella nascosta .idea generata dagli IDE della JetBrains
.idea
# rimuove il tracciamento dei file nascosti .DS_Store, generati dai sistemi OS
*.DS_Store

# rimuove il tracciamento dei file nascosti Thumbs.db generati dai sistemi Windows
Thumbs.db

# rimuove il tracciamento dei file generati da LaTex durante la generazione del PDF
*.out
*.log
*.aux
*.synctex.gz
*.toc
*.lof
*.lot

# rimuove il tracciamento dei file spazzatura temporanei che vengono generati da Astah
*.asta.bak
*.asta.lock

# rimuove i file .pdf generati dalla compilazione in LaTex che possono causare conflitti durante il pull

documenti/analisi_dei_requisiti/analisi_dei_requisiti.pdf
documenti/norme_di_progetto/norme_di_progetto.pdf
documenti/glossario/glossario.pdf
documenti/piano_di_progetto/piano_di_progetto.pdf
documenti/piano_di_qualifica/piano_di_qualifica.pdf
documenti/studio_di_fattibilita/studio_di_fattibilita.pdf
documenti/lettera_di_presentazione/lettera_di_presentazione.pdf
documenti/piano_di_progetto/verbale_interno_2014_11_26.pdf
documenti/piano_di_progetto/verbale_interno_2014_12_02.pdf
documenti/piano_di_progetto/verbale_esterno_2015_14_01.pdf
documenti/piano_di_progetto/piano_di_progetto.pdf
documenti/piano_di_progetto/piano_di_progetto.pdf
